:root {
  --ion-color-primary: #3d434c;
  --ion-color-primary-rgb: 61,67,76;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #363b43;
  --ion-color-primary-tint: #50565e;

  --ion-color-secondary: #14a1fb;
  --ion-color-secondary-rgb: 20,161,251;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #128edd;
  --ion-color-secondary-tint: #2caafb;

  --ion-color-tertiary: #51a66b;
  --ion-color-tertiary-rgb: 81,166,107;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #47925e;
  --ion-color-tertiary-tint: #62af7a;

  --ion-color-success: #00ff00;
  --ion-color-success-rgb: 0,255,0;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00e000;
  --ion-color-success-tint: #1aff1a;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-dark: #13181f;
  --ion-color-dark-rgb: 19,24,31;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #11151b;
  --ion-color-dark-tint: #2b2f35;

  --ion-color-medium: #3d434c;
  --ion-color-medium-rgb: 61,67,76;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #363b43;
  --ion-color-medium-tint: #50565e;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: #3d434c;

  --ion-background-color: #272c33;
  --ion-background-color-rgb: 39,44,51;

  --ion-text-color: #d0d9dd;
  --ion-text-color-rgb: 208,217,221;

  --ion-color-step-50: #2f353c;
  --ion-color-step-100: #383d44;
  --ion-color-step-150: #40464d;
  --ion-color-step-200: #494f55;
  --ion-color-step-250: #51575e;
  --ion-color-step-300: #5a6066;
  --ion-color-step-350: #62696f;
  --ion-color-step-400: #6b7177;
  --ion-color-step-450: #737a80;
  --ion-color-step-500: #7c8388;
  --ion-color-step-550: #848b91;
  --ion-color-step-600: #8c9499;
  --ion-color-step-650: #959ca2;
  --ion-color-step-700: #9da5aa;
  --ion-color-step-750: #a6aeb3;
  --ion-color-step-800: #aeb6bb;
  --ion-color-step-850: #b7bfc4;
  --ion-color-step-900: #bfc8cc;
  --ion-color-step-950: #c8d0d5;
}
